
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body.light {
  background-color: #ffffff;
  color: #000000;
}

/* Dark theme */
body.dark {
  background-color: #000000;
  color: #a8a1a1;
}